body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rajdhani', sans-serif;
  background-color: rgb(236, 235, 241);
}

.top-bar {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: space-evenly;
  margin-bottom: 10px;
  width: 100%;
}

.top-bar .input-name-group {
  align-items: flex-start;
  display: flex;
}

.top-bar .input-terms-group {
  align-items: flex-start;
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.items {
  display: flex;
  flex-basis: 70%;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  border: none;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.26);
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: auto;
  margin: 5px;
  width: 200px;

  background-color: white;
}

.item .item__sku {
  display: none;
}

.item .item__title {
  flex-grow: 1;
  padding: 10px;
  text-align: center;
  opacity: 0.8;
}

.item .item__image {
  width: 70%;
  margin: auto;
}

.item .item__add {
  background-color: #40cd28;
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 5px 30px;

  color: white;
  font-weight: 600;
}

.cart {
  display: flex;
  flex-basis: 30%;
  flex-flow: column wrap;
}

.cart .cart__title {
  flex-basis: 1;
  font-size: 16pt;
  text-align: center;
}

.loading {
  border: 10px solid rgba(0, 0, 0, 0.1);
  height: 30px;
  width: 30px;

  border-left-color: royalblue;
  border-radius: 40px;

  animation: spin 1s infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.loading {
  margin-top: 80px;
}

header {
  height: 100px;
  width: auto;

  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;

  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;

  margin-bottom: 30px;
}
h1 {
  color: white;
  font-size: 30px;
  font-family: 'Pacifico', cursive;
}
input {
  border: none;
  width: 3000px;
  padding: 20px;
  background-color: white;

  position: relative;
}
input::placeholder {
  text-align: center;
}

/* cart elements */
.cart {
  position: absolute;
  top: 106px;
  right: 36px;
  background-color: #fff;
  padding: 20px;
  border-radius: 30px;

  box-shadow: 0px 0px 17px 0px rgba(50, 50, 50, 0.75);

  display: flex;
  align-items: center;

  z-index: 2;
}

.empty-cart {
  background-color: #dd5252;

  border: 2px solid #aa3f3f;
  border-radius: 20px;
  color: white;

  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
  font-size: 15px;
}
.cart .cart__title {
  font-size: 40px;
}

/* header */
.cart-button {
  height: 30px;
  width: 30px;
  border-radius: 30px;
  border: none;
  background-color: rgb(92, 34, 34, 0);
  cursor: pointer;

  position: relative;
}

.new-item {
  width: 18px;
  height: 18px;
  border-radius: 10px;
  background-color: red;
  color: white;

  font-weight: 600;

  position: absolute;
  bottom: 2px;
  left: 0;
}

.fa-shopping-cart {
  color: white;
}
.mall-icon {
  width: 52px;
}

.searcher-button {
  border: none;
  background-color: rgb(92, 92, 250);
  padding: 20px 16px;
  color: white;

  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
  font-size: 18px;

  cursor: pointer;
}
.button-wrapper {
  overflow: hidden;
  width: 430px;
  height: 36px;
  display: flex;
  align-items: center;

  border-radius: 20px;
}

.logo_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
